.container {
    display: flex;
    align-items: center;
    padding-top: 125px;
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 1000px) { /* Add media query for mobile devices */
    .container {
      padding-left: 5%; /* Reduce margin on mobile devices */
      padding-right: 5%;
    }
}

img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    margin-left: 20px;
    font-size: 1.8rem;
    font-family: 'CenturyGothic';
    color: #fff;
    margin-bottom: 10px;
}