.container {
    display: flex;
    align-items: center;
    padding-top: 175px;
    padding-left: 10%;
    padding-right: 10%;
}

img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    margin-left: 20px;
    font-size: 1.8rem;
    font-family: 'Century Gothic', sans-serif;
    color: #fff;
    margin-bottom: 10px;
}