*{
    margin: 0%;
    padding: 0%;
}

body{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #121214;
    background-image: url("assets/header-gradient.svg"), url("assets/footer-gradient.svg");
    background-repeat: no-repeat;
    background-position: center top, center bottom;
}

.texture{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -99;
    opacity: 0.25;
    pointer-events: none;
    transform: translateY(0px);
    width: 100vw;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2400 2400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    filter: contrast(30%) brightness(50%);
    opacity: 0.3;
}

.pfp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name{
    background-color: transparent;
    color: transparent;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}


.icon {
    margin: 0px 16px;
}

.icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 12px;
}

.icon-container:hover {
    background-color: rgba(58, 137, 253, 0.1);
    border-color: transparent;
    transition: all 333ms ease 0s;
}

.labels{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 4px;
    margin-bottom: 16px;
    color: #58585A;
}

.project-title {
    font-family: "Inter", sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

.projects-wrappper {
    display: flex;
    height: 60px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border: solid 1px white;
    margin-bottom: 16px;
}

.projects-wrappper:hover {
    background-color: rgba(58, 137, 253, 0.1);
    border-color: transparent;
    transition: all 333ms ease 0s;
}

.arrow{
    margin-top: 5px;
    margin-right: 16px;
}

.project-logo{
    width: 40px;
    height: 40px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: #121214;
    object-fit: cover;
}
