*{
    margin: 0%;
    padding: 0%;
}

body{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    background-color: #121214;
    background-image: url("assets/header-gradient.svg"), url("assets/footer-gradient.svg");
    background-repeat: no-repeat;
    background-position: center top, center bottom;
}

.pfp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name{
    background-color: transparent;
    color: transparent;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.icon {
    margin: 0 12px 12px;
}

.icon:hover {
    transform: scale(1.2);
}

.projects{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 16px;
    color: #58585A;
}

.project-title {
    font-family: "Inter", sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

.projects-wrappper {
    display: flex;
    height: 60px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border: solid 2px white;
    margin-bottom: 16px;
}

.projects-wrappper:hover {
    background-color: rgba(58, 137, 253, 0.1);
    border-color: transparent;
    transition: all 333ms ease 0s;
}

.arrow{
    margin-top: 5px;
    margin-right: 16px;
}

.project-logo{
    width: 40px;
    height: 40px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: #121214;
    object-fit: cover;
}
