.description {
    padding-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 40px;
    font-size: 1.3rem;
    font-family: 'Century Gothic';
    color: #fff;
    margin-bottom: 10px;
}