.description {
    padding-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 40px;
    font-size: 1.3rem;
    font-family: 'CenturyGothic';                               
    color: #fff;
    margin-bottom: 10px;
}

@media (max-width: 1000px) { /* Add media query for mobile devices */
    .description {
      margin-left: 5%; /* Reduce margin on mobile devices */
      margin-right: 5%;
    }
}