.description {
    padding-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 40px;
    font-size: 1.3rem;
    font-family: 'Century Gothic', sans-serif;                               
    color: #fff;
    margin-bottom: 10px;
}